.stepper-inner {
  width: 1000px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.filters {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.date-range {
  font-size: 16px;
  font-weight: bold;
}

.capacity {
  font-size: 12px;
  text-transform: uppercase;
}

.room-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}