.confirmation-container {
  max-width: 800px;
  margin: 60px auto;
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
}

.confirmation-title {
  letter-spacing: 1px;
  font-size: 22px;
  margin-bottom: 8px;
}

.confirmation-subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

.booking-info {
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 1.6;
}

.details-card {
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f1;
  border: 1px solid #e2e2de;
  border-radius: 6px;
  padding: 20px;
  text-align: left;
}

.left-card {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.room-section {
  display: flex;
  gap: 20px;
  flex: 2;
}

.room-image {
  width: 130px;
  height: 90px;
  background-color: #d8d8d8;
  border-radius: 4px;
}

.room-section h4 {
  margin: 0;
  font-size: 16px;
}

.room-section p {
  margin: 4px 0;
  font-size: 14px;
  color: #555;
  /* width: 60%; */
}

.price-list {
  font-size: 14px;
  margin-top: 10px;
}

.price-list p {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.price-list .total {
  font-weight: bold;
}

.guest-section {
  background-color: #eaeae3;
  padding: 15px;
  border-radius: 4px;
  flex: 1;
  font-size: 14px;
  max-width:40%;
}